<div class="hero-container">

  <div class="hero-content">
    
    <h2 class="logo">MÁXIMA CARGA</h2>

    <h1>
      TU CUERPO NO ESPERA.<br>
      TU EQUIPO TAMPOCO DEBERÍA.
    </h1>

    <p>
      Accede a tu cuenta o crea una nueva para empezar a gestionar
      tus pedidos y entrenamientos.
    </p>

    <div class="hero-buttons">
      <a routerLink="/login" class="btn-primary">
        Iniciar sesión
      </a>

      <a routerLink="/registro" class="btn-outline">
        Crear cuenta
      </a>
    </div>

  </div>

</div>
